

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Resume</title>
<!-- configue this in _config.yml file  -->
<link type="text/css" rel="stylesheet" href="{{ site.cvCssPath | append : 'blue.css'}}" />
<link type="text/css" rel="stylesheet" href="{{ site.cvCssPath | append : 'print.css' }}" media="print"/>
<!--[if IE 7]>
<link href="css/ie7.css" rel="stylesheet" type="text/css" />
<![endif]-->
<!--[if IE 6]>
<link href="css/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<script type="text/javascript" src="{{ site.cvJsPath | append : 'jquery-1.4.2.min.js'}}"></script>
<script type="text/javascript" src="{{ site.cvJsPath | append : 'jquery.tipsy.js'}}"></script>
<script type="text/javascript" src="{{ site.cvJsPath | append : 'cufon.yui.js'}}"></script>
<script type="text/javascript" src="{{ site.cvJsPath | append : 'scrollTo.js'}}"></script>
<script type="text/javascript" src="{{ site.cvJsPath | append : 'myriad.js'}}"></script>
<script type="text/javascript" src="{{ site.cvJsPath | append : 'jquery.colorbox.js'}}"></script>
<script type="text/javascript" src="{{ site.cvJsPath | append : 'custom.js'}}"></script>
<script type="text/javascript">
		Cufon.replace('h1,h2');
</script>
</head>
<body>
<!-- Begin Wrapper -->
<div id="wrapper">
  <div class="wrapper-top"></div>
  <div class="wrapper-mid">
    <!-- Begin Paper -->
    <div id="paper">
      <div class="paper-top"></div>
      <div id="paper-mid">
        <div class="entry">
          <!-- Begin Image --> <!-- need to change to the img of myself-->
          <img class="portrait" src="{{site.imgPathOne | append: site.cvImgSubPath | append : 'image.jpg'}}" alt="Qiu Daolong" />
          <!-- End Image -->
          <!-- Begin Personal Information -->
          <div class="self">
            <h1 class="name">{{ page.myname }}<br />
              <span>{{ page.jobtitle }}</span></h1>
            <ul>
              <li class="ad">High-tech zone, Chengdu City</li>
              <li class="mail">qdaolong@126.com</li>
              <li class="tel">+86 17780015153</li>
							<!-- put github page here, add link to link to github page -->
              <li class="web">put github page here</li>
            </ul>
          </div>
          <!-- End Personal Information -->
          <!-- Begin Social -->
          <div class="social">
            <ul>
							<!--check if the pdf download works later,maybe change the icons to right a little bit -->
              <li><a class='north' href="#" title="Download .pdf"><img src="images/icn-save.jpg" alt="Download the pdf version" /></a></li>
              <li><a class='north' href="javascript:window.print()" title="Print"><img src="images/icn-print.jpg" alt="" /></a></li>
              <li><a class='north' id="contact" href="contact/index.html" title="Contact Me"><img src="images/icn-contact.jpg" alt="" /></a></li>
							<!-- No twitter and facebook so far
              <li><a class='north' href="#" title="Follow me on Twitter"><img src="images/icn-twitter.jpg" alt="" /></a></li>
              <li><a class='north' href="#" title="My Facebook Profile"><img src="images/icn-facebook.jpg" alt="" /></a></li>
						-->
            </ul>
          </div>
          <!-- End Social -->
        </div>
        <!-- Begin 1st Row -->
				<!--
        <div class="entry">
          <h2>OBJECTIVE</h2>
          <p>Live happily, work professionally</p>
        </div>
			-->
        <!--EDUCATION -->
        <div class="entry">
          <h2>EDUCATION</h2>
					{% for education in page.educations %}
          <div class="content">
            <h3>{{ education.period }}</h3>
            <p>{{ education.university }} , {{ education.univCountry}} <br />
              <em>{{ education.major }}</em></p>
          </div>
					{% endfor %}
        </div>
        <!-- End EDUCATION -->
        <!-- Begin WORK EXPERIENCE -->
        <div class="entry">
          <h2>WORK EXPERIENCE</h2>
					{% for experience in page.workexperience %}
          <div class="content">
            <h3>{{ experience.period }}</h3>
            <p><a href="{{ experience.companyweb }}">{{ experience.company }}</a> {{ experience.location }}<br />
              <em>{{ experience.occupation }}</em></p>
            <ul class="info">
							{% for duty in experience.duties %}
  						<li>{{ duty }}</li>
							{% endfor %}
            </ul>
          </div>
					{% endfor %}
        </div>
        <!-- End 3rd Row -->

				<!-- Begin 4rd Row INTERNSHIP EXPERIENCE -->
				<div class="entry">
					<h2>INTERNSHIP EXPERIENCE</h2>
					<div class="content">
						<h3>Sep 2013 - Dec 2013</h3>
						<p><a href="">Hewlett-Packard(HP)</a>, Shanghai<br />
							<em>Quality Assurance</em></p>
						<ul class="info">
							<li>Test HP software Service Manager</li>
							<li>Use Quality Center as the quality management processes tool</li>
						</ul>
					</div>
				</div>
				<!-- End 4rd Row -->

				<!-- Begin 5rd Row PROJECT EXPERIENCE -->
				<div class="entry">
					<h2>PROJECT EXPERIENCE</h2>
					<div class="content">
						<h3>Mar 2013 - June 2013</h3>
						<p><a href="https://www.demola.net/">Demola</a>,Sweden<br />
							<em>Software Engineer</em></p>
						<ul class="info">
							<li>A project made by Sweden LUND University DEMOLA and MyThing Company. Design an Android Robot with two wheels</li>
							<li>Job: 1)Develop Android Robot APP and Remote Control APP  (2000-3000  JAVA)
                  2)Program Microcontroller (200 C)</li>
							<li>Main Techniques: Android, Microcontroller PWM，PID controller，TCP/IP transmission</li>
						</ul>
					</div>
					<div class="content">
						<h3>Sep 2012 - Jan 2013</h3>
						<p>Smart House<br />
							<em>Software Engineer</em></p>
						<ul class="info">
							<li>Control lamps, fans and curtains etc. through mobile phone and Kinects. Monitor the temperature and humidity etc. of rooms.</li>
							<li>Job: Responsible for the communication of Java Bluetooth and devices (1000 -2000 JAVA)</li>
							<li>Main Techniques: JAVA, Android, MySQL, Arduino Microcontroller Processing</li>
						</ul>
					</div>
				</div>
				<!-- End 5rd Row -->

        <!-- Begin 4th Row -->
        <div class="entry">
          <h2>SKILLS</h2>
          <div class="content">
            <h3>Software Knowledge</h3>
            <ul class="skills">
              <li>Git</li>
							<!--
              <li>Illustrator</li>
              <li>InDesign</li>
              <li>Flash</li>
              <li>Fireworks</li>
              <li>Dreamweaver</li>
              <li>After Effects</li>
              <li>Cinema 4D</li>
              <li>Maya</li>
						-->
            </ul>
          </div>
          <div class="content">
            <h3>Languages</h3>
            <ul class="skills">
              <li>Python</li>
              <li>CSS/HTML</li>
              <li>JavaScript</li>
							<li>Python flask</li>
							<li>Java</li>
            </ul>
          </div>
        </div>
        <!-- End 4th Row -->
         <!-- Begin 5th Row -->
				<!--
        <div class="entry">
        <h2>WORKS</h2>
        	<ul class="works">
        		<li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>
        		<li><a href="images/2.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>
        		<li><a href="images/3.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>
        		<li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>
        		<li><a href="images/2.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>
        		<li><a href="images/3.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>
        		<li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>
        		<li><a href="images/1.jpg" rel="gallery" title="Lorem ipsum dolor sit amet."><img src="images/image.jpg" alt="" /></a></li>
        	</ul>
        </div>
			-->
        <!-- Begin 5th Row -->
      </div>
      <div class="clear"></div>
      <div class="paper-bottom"></div>
    </div>
    <!-- End Paper -->
  </div>
  <div class="wrapper-bottom"></div>
</div>
<div id="message"><a href="#top" id="top-link">Go to Top</a></div>
<!-- End Wrapper -->
</body>
</html>
